@import "./_breakpoints.scss";
@import "./_margins.scss";

.app > .tme {
  max-width: 1366px;
  margin: 0 auto;
}

* > .wrapper {
  position: relative;
  margin: 0 $sideMargin 0;
  @include breakpoint(mobile) {
    margin: 0 $sideMarginMobile 0;
    grid-template-columns: repeat(4, [col-start] 1fr);
  }
}

button {
  border-radius: 5px;
  cursor: pointer;
}
