//Flex

.flex {
  display: flex;
  &.j {
    &-sb {
      justify-content: space-between;
    }
    &-sa {
      justify-content: space-around;
    }
    &-c {
      justify-content: center;
    }
    &-fs {
      justify-content: flex-start;
    }
    &-fe {
      justify-content: flex-end;
    }
  }
  &.a {
    &-c {
      align-items: center;
    }
    &-fs {
      align-items: flex-start;
    }
    &-fe {
      align-items: flex-end;
    }
    &-st {
      align-items: stretch;
    }
    &s {
      &-fs {
        align-self: flex-start;
      }
      &-fe {
        align-self: flex-end;
      }
      &-c {
        align-self: center;
      }
    }
  }
  &.d {
    &-row {
      flex-direction: row;
    }
    &-col {
      flex-direction: column;
    }
  }
}
