@import "../../index.scss";
.tableRow {
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 3px;
  &:hover {
    background-color: $white;
  }
  &__container {
    &--image {
      max-width: 60px;
      max-height: 60px;
      img {
        border-radius: 5px;
      }
    }
    &--data {
      margin: 0 auto 0 20px;
      .data__driverData > * + * {
        margin: 0 auto 0 10px;
      }
      .data__plate > p > * + *,
      .data__driverData > p > * + * {
        margin: 0 0 0 10px;
        font-weight: bold;
      }
      .data__driverData > p ~ span {
        font-size: 12px;
      }
      * + button {
        margin-left: 20px;
      }

      .data__hidden {
        display: none;
        &.visible {
          display: unset;
          padding: 5px 0;
          p > span p > * + * {
            margin: 0 0 0 10px;
            font-weight: bold;
          }
        }
      }
    }
    &--favourite {
      height: fit-content;
      cursor: pointer;
      svg {
        fill: $gray;
        transition: all 0.5s ease;
      }
      &.active {
        svg {
          fill: $orange;
        }
      }
    }
  }
}
