.tableRow {
  &__container {
    &--image {
      width: 50px;
    }
    &--data {
      margin: 0 auto 0 20px;
      .data__plate > * + *,
      .data__driverData > * + * {
        margin: 0 0 0 10px;
      }
    }
    &--favourite {
      svg {
        fill: lightgray;
      }
      &.active {
        svg {
          fill: red;
        }
      }
    }
  }
}
