.tableRow {
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  margin-bottom: 2px;
  &__container {
    &--image {
      max-width: 60px;
      max-height: 60px;
    }
    &--data {
      margin: 0 auto 0 20px;
      .data__plate > * + *,
      .data__driverData > * + * {
        margin: 0 auto 0 10px;
      }
      .data__plate > p > * + *,
      .data__driverData > p > * + * {
        margin: 0 0 0 10px;
        font-weight: bold;
      }
      button {
        padding: 5px 10px;
        border-radius: 5px;
        border: 1px solid black;
      }
      .data__hidden {
        display: none;
        &.visible {
          display: unset;
          padding: 5px 0;
          p > span p > * + * {
            margin: 0 0 0 10px;
            font-weight: bold;
          }
        }
      }
    }
    &--favourite {
      height: fit-content;
      cursor: pointer;
      svg {
        fill: lightgray;
        transition: all 0.5s ease;
      }
      &.active {
        svg {
          fill: red;
        }
      }
    }
  }
}
